@mixin container {
  width: auto;

  @media #{$tablet} {
    max-width: 1150px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: 1150px;
  }
}

@mixin button {
  padding: 16px;
  border: 2px solid $btn-border;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: $btn-text;
  background-color: $btn-color;
  text-transform: uppercase;
  outline: none;

  &:hover {
    color: $btn-text-hover;
    background-color: $btn-color-hover;
  }

  &:active {
    color: $btn-text-down;
  }
}
