.catalog-item {
  width: 260px;
  margin-bottom: 30px;
}
@media #{$tablet} {
  .catalog-item {
    width: 100%;
    display: flex;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
@media #{$desktop} {
  .catalog-item {
    width: 316px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}

.catalog-item__img {
  display: block;
  width: 260px;
  height: 195px;
}
@media #{$tablet} {
  .catalog-item__img {
    width: 334px;
    height: 334px;
  }
}
@media #{$desktop} {
  .catalog-item__img {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__dscr {
  padding: 27px;
  border: 1px solid $item-border;
}
@media #{$tablet} {
  .catalog-item__dscr {
    display: flex;
    flex-direction: column;
    flex-basis: 333px;
    flex-grow: 1;
  }
}
@media #{$desktop} {
  .catalog-item__dscr {
    flex-basis: auto;
  }
}

.catalog-item__title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: $item-link;

  &:hover {
    color: $item-link-hover;
  }

  &:active {
    color: $item-link-down;
  }
}
@media #{$tablet} {
  .catalog-item__title {
    font-size: 18px;
  }
}

.catalog-item__text {
  color: $item-text;
  padding-bottom: 19px;
}
@media #{$tablet} {
  .catalog-item__text {
    margin-bottom: auto;
  }
}

.catalog-item__price {
  position: relative;
  display: block;
  border-top: 1px solid $item-border;
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: $item-link-hover;
  }

  &:active {
    color: $item-link-down;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("../img/icon-cart.svg") no-repeat;
  }
}

.catalog-item__price:hover::after {
  opacity: 0.6;
}

.catalog-item__price:active::after {
  opacity: 0.3;
}
@media #{$tablet} {
  .catalog-item__price {
    font-size: 16px;
  }
}
