.catalog-item {
  width: 260px;
  margin-bottom: 30px;
}

@media #{$tablet} {
  .catalog-item {
    width: 100%;
    display: flex;

    &:hover {
      box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

@media #{$desktop} {
  .catalog-item {
    width: 316px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.catalog-item__img {
  display: block;
  width: 260px;
  height: 195px;
}

@media #{$tablet} {
  .catalog-item__img {
    width: 334px;
    height: 334px;
  }
}

@media #{$desktop} {
  .catalog-item__img {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__dscr {
  padding: 27px;
  border: 1px solid $item-border;
}

@media #{$tablet} {
  .catalog-item__dscr {
    display: flex;
    flex-direction: column;
    flex-basis: 333px;
    flex-grow: 1;
  }
}

@media #{$desktop} {
  .catalog-item__dscr {
    flex-basis: auto;
  }
}

.catalog-item__headline {
  margin-bottom: 10px;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: $item-link;

  &:hover {
    color: $item-link-hover;
  }

  &:active {
    color: $item-link-down;
  }
}

@media #{$tablet} {
  .catalog-item__title {
    font-size: 18px;
  }
}

.catalog-item__text {
  color: $item-text;
  padding-bottom: 19px;
}

@media #{$tablet} {
  .catalog-item__text {
    margin-bottom: auto;
  }
}

.catalog-item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $item-border;
  padding-top: 20px;
}

.catalog-item__link {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: $item-link-hover;
  }

  &:active {
    color: $item-link-down;
  }
}

@media #{$tablet} {
  .catalog-item__link {
    font-size: 16px;
  }
}

.catalog-item__icon {
  width: 20px;
  height: 19px;
  fill: $item-icon;

  &:hover {
    fill: $item-icon-hover;
  }

  &:active {
    fill: $item-icon-down;
  }
}
