.category {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $category-btn-link;
}

@media #{$tablet} {
  .category {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 380px;
  }
}

@media #{$desktop} {
  .category {
    margin-top: 365px;
  }
}

.category__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  padding: 27px;

  &:active {
    color: $category-btn-link-down;
  }

  &--interior {
    background-color: $category-btn-left;

    &:hover {
      background-color: $category-btn-left-hover;
    }
  }

  &--toy {
    background-color: $category-btn-right;

    &:hover {
      background-color: $category-btn-right-hover;
    }
  }
}

@media #{$tablet} {
  .category__item {
    width: 50%;
    height: 140px;
    align-items: flex-start;

    &--interior {
      background-image: url('../img/bg-zigzag-fill.svg');
      background-repeat: no-repeat;
      background-position: 8% 100%;
    }

    &--toy {
      background-image: url('../img/bg-zigzag-fill.svg');
      background-repeat: no-repeat;
      background-position: 92% 100%;
    }

    &:hover {
      margin-top: -5px;
      height: 145px;
    }
  }
}

.categoty__img {
  opacity: 0.5;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
