.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

@media #{$tablet} {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 0;
  }
}

@media #{$desktop} {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    height: 560px;
    margin-bottom: 50px;
    padding: 50px;
  }
}

.contacts__headline {
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 20px;
}

@media #{$tablet} {
  .contacts__headline {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media #{$desktop} {
  .contacts__headline {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 45px;
    width: 45%;
    padding: 0;
  }
}

.contacts__icon {
  display: none;
}

@media #{$tablet} {
  .contacts__icon {
    display: block;
  }
}

@media #{$desktop} {
  .contacts__icon {
    margin-left: 60px;
    margin-right: 68px;
  }
}

.contacts__info {
  height: 155px;
  margin-bottom: 15px;
  line-height: 30px;

  td {
    min-width: 73px;
    vertical-align: top;
  }
}

.contacts__email {
  border-bottom: 1px solid $contacts-email;

  &:hover {
    color: $contacts-email-hover;
    border-color: $contacts-email-hover;
  }

  &:active {
    color: $contacts-email-down;
    border-color: $contacts-email-down;
  }
}

@media #{$tablet} {
  .contacts__email {
    margin-right: 60px;
  }
}

@media #{$desktop} {
  .contacts__email {
    margin-right: 0;
  }
}

@media #{$tablet} {
  .contacts__info {
    font-size: 16px;

    & tbody {
      display: flex;
    }

    & tr {
      width: 50%;
    }
  }
}

@media #{$desktop} {
  .contacts__info {
    width: 282px;
    margin: 0;
    margin-left: 171px;

    & tbody {
      display: table;
    }

    & td {
      padding-bottom: 41px;
    }
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
  background: $contacts-bg-map;
}

@media #{$desktop} {
  .contacts__map {
    width: 525px;
    min-height: 457px;
    order: 1;
    margin: 0;
    margin-left: auto;
  }
}

.contacts__btn {
  @include button;
  width: 90%;
}

@media #{$tablet} {
  .contacts__btn {
    width: 230px;
  }
}

@media #{$desktop} {
  .contacts__btn {
    margin-left: 171px;
  }
}
