.contacts {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
@media #{$tablet} {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 45px 50px;
  }
}
@media #{$desktop} {
  .contacts {
    position: relative;
    padding: 70px 50px 100px 225px;
    flex-direction: column;
  }
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 25px;
}
@media #{$tablet} {
  .contacts__title {
    flex-grow: 1;
    margin-bottom: 45px;
  }
}
@media #{$desktop} {
  .contacts__title {
    width: 50%;
  }
}

.contacts__img {
  display: none;
}
@media #{$tablet} {
  .contacts__img {
    display: inline;
  }
}
@media #{$desktop} {
  .contacts__img {
    position: absolute;
    top: 80px;
    left: 100px;
  }
}

.contacts__info {
  height: 155px;
  margin: 0 auto 15px;
  line-height: 30px;

  td {
    position: relative;
    min-width: 73px;
    vertical-align: top;
  }
}

.contacts__email {
  &:hover {
    color: $contacts-email-hover;
  }

  &:active {
    color: $contacts-email-down;
  }
}

.contacts__email::after {
  content: "";
  position: absolute;
  width: 154px;
  height: 1px;
  top: 27px;
  left: 0;
  background-color: $contacts-email;
}

.contacts__email:hover::after {
  background-color: $contacts-email-hover;
}

.contacts__email:active::after {
  background-color: $contacts-email-down;
}
@media #{$tablet} {
  .contacts__info {
    width: 100%;

    & tbody {
      display: flex;
      justify-content: space-between;
    }

    & tr {
      width: 50%;
    }

    & td {
      font-size: 16px;
    }
  }
  @media #{$desktop} {
    .contacts__info {
      width: 50%;
      margin: 0 0 125px;

      & tbody {
        display: table;
        height: 155px;
        margin: 0;
      }
    }
  }
}

.contacts__map {
  width: 100%;
  min-height: 457px;
  margin-bottom: 40px;
  background: green;
}
@media #{$desktop} {
  .contacts__map {
    width: 525px;
    height: 457px;
    position: absolute;
    top: 70px;
    right: 0;
  }
}

.contacts__btn {
  @include button;
}
@media #{$tablet} {
  .contacts__btn {
    margin: 0 auto;
    width: 230px;
  }
}
@media #{$desktop} {
  .contacts__btn {
    margin: 0;
  }
}
