.footer-logo {
  display: none;
}

@media #{$tablet} {
  .footer-logo {
    display: block;
    padding: 50px 0;
  }
}

@media #{$tablet} {
  .footer-logo__img {
    width: 102px;
    height: 34px;
    fill: $footer-icon;

    &:hover {
      fill: $footer-icon-hover;
    }

    &:active {
      fill: $footer-icon-down;
    }
  }
}
