.main-nav__list {
  display: flex;
  flex-direction: column;
  font-size: 0;
}

.main-nav__item {
  width: 100%;
  padding: 27px 45px 27px 75px;
  border-top: 1px solid $main-nav-item-border;

  &--logo {
    padding: 21px 45px;
    text-align: center;
  }
}

.main-nav__wrapper {
  margin: 0 auto;
  width: 200px;
}

.main-nav__link {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  &:hover {
    color: $main-nav-link-hover;
  }

  &:active {
    color: $main-nav-link-down;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -40px;
    width: 20px;
    height: 20px;
    background: url("../img/icon-search.svg") no-repeat;
  }

  &--basket::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -40px;
    width: 20px;
    height: 20px;
    background: url("../img/icon-cart.svg") no-repeat;
  }
}
// Кнопка открытия-закрытия меню

.main-nav--closed .main-nav__toggle {
  font-size: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 20px;
  height: 14px;
  background-color: $bg-color;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $text-color;
  box-shadow: 0 6px 0 0 $text-color, 0 12px 0 0 $text-color;
}

.main-nav--opened .main-nav__toggle {
  font-size: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 21px;
  height: 20px;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 2;
    width: 21px;
    height: 2px;
    background-color: $text-color;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media #{$mobile-only} {
  .main-nav--closed .main-nav__item,
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media #{$tablet} {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav .main-nav__toggle,
  .main-nav__item--catalog,
  .main-nav__item--form {
    display: none;
  }

  .main-nav__item {
    width: auto;
    padding: 30px 45px 30px 75px;
    border: 1px solid $main-nav-item-border;
    border-top: 0;

    &--search {
      width: 84px;
      padding: 30px;
      border-left: 0;
      border-right: 0;
    }

    &--logo {
      flex-grow: 1;
      padding: 21px 45px;
    }

    &--basket {
      width: 316px;
    }
  }

  .main-nav__link--search {
    font-size: 0;

    &::before {
      top: -7px;
      left: 3px;
    }
  }
}

@media #{$desktop} {
  .main-nav .main-nav__toggle {
    display: none;
  }

  .main-nav__item--catalog,
  .main-nav__item--form {
    display: block;
    width: 238px;
    padding: 30px;
  }

  .main-nav__item--catalog {
    padding-left: 50px;
  }

  .main-nav__item--form {
    border-left: 0;
    border-right: 0;
  }

  .main-nav__item--logo {
    text-align: left;
    padding: 7px 30px 7px 24px;
    flex-grow: 1;
    order: 1;
    border-left: 0;
  }

  .main-nav__item--basket,
  .main-nav__item--search {
    order: 2;
  }
}
