.promo {
  padding: 0 30px;
  margin: 0 auto;
  width: 320px;
}

@media #{$tablet} {
  .promo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    width: 668px;
  }
}

@media #{$desktop} {
  .promo {
    flex-direction: column;
    width: 100%;
    height: 455px;
    margin: 0;
    margin-bottom: 105px;
  }
}

.promo__headline {
  display: flex;
  padding: 23px 33px;
  border: 1px solid $item-border;
}

@media #{$tablet} {
  .promo__headline {
    width: 100%;
    border-bottom: none;
  }
}

@media #{$desktop} {
  .promo__headline {
    width: 368px;
    height: 180px;
    flex-direction: column;
    padding: 46px 80px;
    padding-bottom: 25px;
  }
}

.promo__icon {
  margin-right: 25px;
  width: 32px;
  height: 32px;
}

@media #{$desktop} {
  .promo__icon {
    margin-bottom: 25px;
  }
}

.promo__img {
  display: block;
}

.promo__video {
  width: 260px;
  height: 150px;
  background-color: $video-bg;
}

@media #{$tablet} {
  .promo__video {
    order: -1;
    width: 568px;
    height: 387px;
  }
}

@media #{$desktop} {
  .promo__video {
    width: 682px;
    height: 455px;
  }
}

.promo__dscr {
  width: 100%;
  padding: 30px 32px;
  border: 1px solid $item-border;
  margin-bottom: 58px;
}

@media #{$tablet} {
  .promo__dscr {
    border-top: none;
    padding-top: 7px;
    margin-bottom: 63px;
  }
}

@media #{$desktop} {
  .promo__dscr {
    margin: 0;
    width: 368px;
    height: 275px;
    padding-left: 80px;
    padding-right: 50px;
  }
}

.promo__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 24px;
}

.promo__btn {
  @include button;
  width: 100%;
}
