.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 28px;
}

@media #{$tablet} {
  .socials {
    align-items: center;
    width: auto;
    padding: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 0;
}

.socials__icon {
  fill: $footer-icon;

  &:hover {
    fill: $footer-icon-hover;
  }

  &:active {
    fill: $footer-icon-down;
  }

  &--insta {
    width: 22px;
    height: 22px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 24px;
    height: 20px;
  }
}
