.sub-header {
  background-color: $sub-header-bg;
  padding: 0 30px;
  padding-top: 70px;
  min-height: 175px;
  margin-bottom: 30px;

  &--index {
    background-color: $sub-header-index-bg;
    padding: 0;
    padding-top: 90px;
    background-image: url('../img/hero-mobile@1x.jpg');
    background-position: top;
    background-repeat: no-repeat;    
  }
}

@media #{$mobile-only} {
  .sub-header--index {
    @media #{$retina} {
      background-image: url('../img/hero-mobile@2x.jpg');
  }
}
}
@media #{$tablet} {
  .sub-header {
    padding: 0 50px;
    padding-bottom: 100px;
    background-image: url('../img/bg-zigzag-fill.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%;

    &--index {
      padding: 0 50px;
      background-image: url('../img/bg-zigzag-fill.svg'),
                        url('../img/hero-desktop@1x.jpg');
      background-position: 0% 100%, top;

      @media #{$retina} {
        background-image: url('../img/bg-zigzag-fill.svg'),
                          url('../img/hero-desktop@2x.jpg');
      }
    }
  }
}

@media #{$desktop} {
  .sub-header {
    padding-bottom: 130px;

    &--index {
      padding: 0 50px;
    }
  }
}

.sub-header__menu {
  display: none;
}

@media #{$tablet} {
  .sub-header__menu {
    display: flex;
    margin-bottom: 30px;
    padding: 20px 0;
  }
}

.sub-header__link {
  margin-right: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: $main-nav-link-hover;
  }

  &:active {
    color: $main-nav-link-down;
  }
}

@media #{$tablet} {
  .sub-header__link {
    display: none;

    &--tablet {
      display: inline;
    }
  }
}

@media #{$desktop} {
  .sub-header__link {
    display: inline;
    margin-right: 60px;

    &--tablet {
      display: none;
    }
  }
}

.sub-header__title {
  text-align: center;
  color: $sub-header-title;
}

@media #{$tablet} {
  .sub-header__title {

    &--index {
      margin-top: 90px;
    }
  }
}

.sub-header__text {
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
  color: $item-text;
}

@media #{$tablet} {
  .sub-header__tablet-hide {
    display: none;
  }
}
